<!-- Default Page Footer -->
<footer class="footer mt-auto py-3 text-center bg-light text-muted">
    <div class="container">
        <span>
            COMP229 Group Project &copy; 2021
        </span>
    </div>
</footer>
<!-- Bootstrap Javascript API Link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>