<!-- TODO: Create a page that allows a survey to be filled out. -->
<!-- Important notes: This page will be passed the survey object that
        needs to be taken, which means you have access to the survey
        through item.(property), EXAMPLE: item.surveyName will return
        the name of the survey. You can reference the survey model to
        see what you have access to. This is how you will display the
        text from the questions in the survey.

        Tips to start: item.surveyQuestions is an array.
        it stores each question as its own question object, 
        you can refernece this in the question model. 
        Each question stores its list of responses as strings.
        For each question, we need to show the question text,
        and a radio button for each of the responses in the question.
            -- Josh H -->

<div class="container">
    <h1><%= title %></h1>
</div>