<div class="container mb-5 container-fluid text-center  border border-dark">
<h1><%= title %></h1>
<p>Welcome to <%= title %> surveys</p>

<p>
    We are Scy-ber. A survey creation website that will allow you to create, edit and save any type of survey you want to create.
    We consist of a small team of developers and are working towards adding many more features to this project for the user to use.
    This website was made for the COMP229 Web Application Development class in the year 2021. We are committed to making this website 
    fully functional as per the requirements that are set for the scope of the project. Refer to the Conctact page for any more questions. 
</p>
</div>