<div class="container mb-5 container-fluid text-center  border border-dark">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>
  <a href="/survey/list" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create Survey</a>
</p>
 </div>